h1 {
    color: azure;
    text-align:center;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    background: linear-gradient(to right, red, blue);
    text-shadow: 3px 3px 0px black;
}

h2{
    color: black;
    text-align: left;
    font-weight: 500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: cyan;
    text-shadow: 1px 1px 1px black;
}
h3{
    color: black;
    text-align: left;
    font-weight: 400;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: cyan;
    text-shadow: 1px 1px 1px black;
}
body{
    background-attachment: fixed;
    background-color: white;
    
}
p{
    color: black;
    text-align: left;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
table{
    table-layout: fixed ;
    width: 100% ;
    border-collapse: collapse;
    border: 3px solid black;
    background-color: azure;
}

th{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    font-size:small;
    font-style: initial;
    padding: 5px;
    border: 2px solid gray;
    width: auto;
    text-align: center;

}

td{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    font-style: initial;
    padding: 5px;
    border: 2px solid gray;
    width: auto;
    text-align: center; 
}